body {
    font-family: "Arial", "Meiryo", sans-serif;
}

html {
    font-size: 20px;
    text-align: center;
}

#h1size {
    font-size: 40px;
}

.google-fonts {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.2em;
    text-shadow: 2px 2px 2px gray;
    border-bottom: solid 3px rgb(115, 115, 114);
}

.skyblue {
    color: skyblue;
}

.pink {
    color: rgb(255, 192, 203);
}

#basic {
    font-weight: bold;
}
